@import "variables";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~angular-material/angular-material";
@import "product-card";
@import "header-input";
@import "dialog";

.text-light {
    color: $text-light;
}

.container {
    justify-content: center;
}

.product-fab {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    margin: 0;
}

.product-fab--hide {
    transform: scale(.01);
}

.bottom-sheet-handle {
    display: block;
    height: 5px;
    width: 26px;
    border-radius: 2.5px;
    margin: 0 auto;
    background: #e8eaed;
    cursor: pointer;
}

md-bottom-sheet {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

*, ::before, ::after {
    box-sizing: border-box;
    outline: none;
}

