@import "variables";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~angular-material/angular-material";
@import "product-card";
@import "header-input";
@import "dialog";

.text-light {
    color: $text-light;
}

.container {
    justify-content: center;
}

.product-fab {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    margin: 0;
}

.product-fab--hide {
    transform: scale(.01);
}

*, ::before, ::after {
    box-sizing: border-box;
    outline: none;
}

