@import "variables";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~angular-material/angular-material";
@import "product-card";
@import "header-input";
@import "dialog";

*, ::before, ::after {
    box-sizing: border-box;
    outline: none;
}

.text-light {
    color: $text-light;
}

.layout-row {
    flex-wrap: wrap;
}

.container {
    justify-content: center;
}

product-list {
    display: block;
    @media only screen and (max-width: ($app-layout-breakpoint - 1px)) {
        padding-bottom: calc(1rem + 56px);        
    }
}

.product-fab {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    margin: 0;
    &--hide {
        transform: scale(.01);
    }
}

.md-bottom-sheet__handle {
    display: block;
    height: 5px;
    width: 26px;
    border-radius: 2.5px;
    margin: 8px auto 0;
    background: #e8eaed;
    cursor: pointer;
}

md-bottom-sheet {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

    .md-grid-item-content {
        height: 90px;
        padding-top: 10px;

        md-icon {
            height: 48px;
            width: 48px;
        }
    }

    .md-grid-text {
        padding-bottom: 5px;
    }

    md-list-item,
    md-list-item .md-list-item-inner {
        min-height: 48px;
    }
}
