<div class="md-dialog" role="dialog" layout-align="center center" layout="column">
    <h1 class="md-dialog__title">Create Product</h1>

    <div flex class="md-dialog__content">
        <md-input-container class="md-block">
            <label>Name</label>
            <input md-autofocus ng-model="ctrl.product.name" type="text">
            <div ng-class="{'md-auto-hide' : !ctrl.errors.name}">
                <div class="md-input-message-animation ng-binding" ng-repeat="error in ctrl.errors.name" ng-bind="error"></div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Year</label>
            <input ng-model="ctrl.product.year" type="number">
            <div ng-class="{'md-auto-hide' : !ctrl.errors.year}">
                <div class="md-input-message-animation ng-binding" ng-repeat="error in ctrl.errors.year" ng-bind="error"></div>
            </div>
        </md-input-container>
    </div>

    <div layout="row" class="md-dialog__action">
        <span flex></span>
        <md-button class="md-primary" ng-click="ctrl.closeDialog()">
            Cancel
        </md-button>
        <md-button class="md-raised md-primary" ng-click="ctrl.createProduct()">
            Create
        </md-button>
    </div>
</div>
