<div class="md-dialog" role="dialog" layout-align="center center" layout="column">
    <h1 class="md-dialog__title" ng-if="!ctrl.edit">Create Key</h1>
    <h1 class="md-dialog__title" ng-if="ctrl.edit">Edit Key</h1>

    <div flex class="md-dialog__content">
        <md-input-container class="md-block" ng-if="!ctrl.edit">
            <label>Key</label>
            <input md-autofocus ng-model="ctrl.workingKey.key" type="text">
            <div ng-class="{'md-auto-hide' : !ctrl.errors.key}">
                <div class="md-input-message-animation ng-binding" ng-repeat="error in ctrl.errors.key" ng-bind="error"></div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" ng-if="!ctrl.edit">
            <label>Language</label>
            <input ng-model="ctrl.workingKey.language" type="text">
            <div ng-class="{'md-auto-hide' : !ctrl.errors.language}">
                <div class="md-input-message-animation ng-binding" ng-repeat="error in ctrl.errors.language" ng-bind="error"></div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>User</label>
            <input ng-model="ctrl.workingKey.user" type="text">
            <div ng-class="{'md-auto-hide' : !ctrl.errors.user}">
                <div class="md-input-message-animation ng-binding" ng-repeat="error in ctrl.errors.user" ng-bind="error"></div>
            </div>
        </md-input-container>
    </div>

    <div layout="row" class="md-dialog__action">
        <span flex></span>
        <md-button class="md-primary" ng-click="ctrl.closeDialog()">
            Cancel
        </md-button>
        <md-button class="md-raised md-primary" ng-click="ctrl.saveKey()">
            Save
        </md-button>
    </div>
</div>
